* {
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  
    background-image: linear-gradient(
      to right,
      rgb(20, 147, 220),
      rgb(17, 54, 71)
    );
    color: white;
  }
  
  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border-radius: 12px;
    color: white;
    background-color: #161616;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
    gap: 28px;
    width: 480px;
    height: 480px;
  }
  
  #container .inputLogin input {
    display: flex;
    padding-bottom: 28px;
    width: 320px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
  }
  
  .inputSubmit {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 320px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
  }
  
  .inputSubmit:hover {
    background-color: rgb(56, 156, 255);
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 24%;
  }
  
  fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
  }
  
  legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
  }
  
  .inputBox {
    position: relative;
  }
  .inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
  }
  .labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
  }
  
  #data_nascimento {
      border: none;
      padding: 8px;
      border-radius: 10px;
      outline: none;
      font-size: 15px;
  
  }
  
  #submit {
      background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
      width: 100%;
      border: none;
      padding: 15px;
      color: white;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
  
  }
  #submit:hover {
      background-image: linear-gradient(to right, rgb(4, 74, 155), rgb(86, 4, 240));
  
  }* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;

  background-image: linear-gradient(
    to right,
    rgb(20, 147, 220),
    rgb(17, 54, 71)
  );
  color: white;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;
  color: white;
  background-color: #161616;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 28px;
  width: 480px;
  height: 480px;
}

#container .inputLogin input {
  display: flex;
  padding-bottom: 28px;
  width: 320px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

button {
  background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
  border: none;
  padding: 15px;
  width: 320px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: rgb(56, 156, 255);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 8px;
  width: 24%;
}

fieldset {
  border: 3px solid dodgerblue;
  padding: 10px;
}

legend {
  border: 1px solid dodgerblue;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}

.inputBox {
  position: relative;
}
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;

}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;

}
#submit:hover {
    background-image: linear-gradient(to right, rgb(4, 74, 155), rgb(86, 4, 240));

}