body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(20, 147, 220),
    rgb(17, 54, 71)
  );
  color: white;
  text-align: center;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
  border: 1px solid dodgerblue;
  padding: 10px;
  border-radius: 10px;
}
a:hover {
  background-color: dodgerblue;
}

.back .backButton {
  display: flex;
  flex-direction: start;

  width: 42px;
  padding: 11px;
  background-color: rgb(1, 103, 255);
}
